<!DOCTYPE html>

<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="/imgs/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/imgs/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/imgs/favicon-16x16.png">

        <title>Grizzly English Portfolio</title>
        <meta name="description" content="Portfolio for Ryan English aka Grizzly English" />

        <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="~/griz/css/griz.website.css">
        <link href="https://fonts.googleapis.com/css?family=Cinzel:900|Montserrat|Pacifico" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </head>

    <body>
        
        <div id="griz-app" class="griz-container">
            <div class="griz-menu">
                <img class="griz-menu logo" src="~/imgs/grizz_logo_4v2.png"/>
                <button type="button" class="navbar-toggler">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div id="leftContainer" class="side left">
                <div class="border">
                    <nav class="griz-nav">
                        <ul>
                            <li>
                                <a class="link-border right-line" href="#about">About</a>
                            </li>
                            <li>
                                <a class="link-border right-line" href="#skills">Skills</a>
                            </li>
                            <li>
                                <a class="link-border right-line" href="#projects">Projects</a>
                            </li>
                            <li>
                                <a class="link-border right-line" href="#contact">Contact</a>
                            </li>
                            <li>
                                <a class="link-border right-line" href="/files/REnglish_Resume_1_27.pdf">Resume</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="side right">
                <div class="scrollbody" onscroll="checkSection(this)">
                    <div class="body">
                        <section class="center-section" name="header">
                            <div>
                                <figure class="griz-portfolio">
                                    <img src="/imgs/profile.jpg" />
                                </figure>
                            </div>
                            <div>
                                <h1>Grizzly English</h1>
                            </div>
                            <div>
                                <a href="https://www.github.com/grizzlyenglish">
                                    <i class="fab fa-github fa-2x"></i>
                                </a>
                                <a class="push-left" href="https://www.hackerrank.com/GrizzlyEnglish">
                                    <i class="fab fa-hackerrank fa-2x"></i>
                                </a>
                                <a class="push-left" href="https://www.linkedin.com/in/grizzlyenglish">
                                    <i class="fab fa-linkedin fa-2x"></i>
                                </a>
                            </div>
                        </section>
                        <section id="about">
                            <h2 class="link-border left-line">About Me</h2>
                            <div>
                                <article>
                                    <p>
                                        Hello, my name is Ryan English. I am a self-taught programmer, who currently works at CNET as a front
                                        end developer. I have a serious passion for programming and problem solving. I hope to one day finish
                                        the game I am developing and transition to a full time game developer; but, until I graduate I have
                                        very little free time for side projects.
                                    </p>

                                    <p>
                                        I am attending the University of Louisville College of Business for my degree in Bachelor of 
                                        Science in Business Administration (CIS) with a graduation date of May 2019.
                                    </p>
                                </article>
                            </div>
                        </section>
                        <section id="skills">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="link-border left-line">Skills</h2>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <griz-skill-container class="griz-skill" :skills="skills" :tags="tags" :levels="levels"></griz-skill-container>
                            </div>
                        </section>

                        <section id="projects">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="link-border left-line">Projects</h2>
                                </div>
                            </div>
                            <griz-project v-for="(project,index) in projects" :key="index" :project="project"></griz-project>
                        </section>

                        <section id="contact">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="link-border left-line">Contact</h2>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <form>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>First Name</label>
                                            <input type="text" class="form-control" placeholder="First Name">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Last Name</label>
                                            <input type="text" class="form-control" placeholder="Last Name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label>Email</label>
                                            <input type="text" class="form-control" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label>Message</label>
                                            <textarea class="form-control griz-text" placeholder="Send me a nice message!"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <div class="float-right">
                                                <button class="btn btn-success">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>

                        <section>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <h3>Thanks for stopping by!</h3>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="~/js/vue.js"></script>
        <script type="text/javascript" src="~/griz/js/components/skills/griz.skill.component.js"></script>
        <script type="text/javascript" src="~/griz/js/components/skills/griz.skill.tag.component.js"></script>
        <script type="text/javascript" src="~/griz/js/components/skills/griz.skill.container.component.js"></script>
        <script type="text/javascript" src="~/griz/js/components/griz.project.component.js"></script>
        <script type="text/javascript" src="~/griz/js/griz.app.js"></script>
        <script type="text/javascript" src="~/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="~/js/bootstrap.js"></script>

        <script>

            var yBar;

            document.addEventListener("DOMContentLoaded", function() {
                yBar = window.innerHeight/2;
            });

            function checkSection(elem){
                var scroll = elem.scrollTop;
                var sections = document.getElementsByTagName('section');
                for(var i = 0; i < sections.length; i++){
                    var rect = sections[i].getBoundingClientRect();
                    if(rect.top < yBar) {
                        console.log(sections[i].childNodes)
                        for (var i2 = 0; i2 < sections[i].childNodes.length; i2++) {
                            if (sections[i].childNodes[i2].className == "left-line") {
                                sections[i].classList.add('hover');
                                break;
                            }
                        }
                    }
                }
            }

            function outputRects(){
                var arr = document.getElementsByTagName('section');
                for(var i = 0; i < arr.length; i++){
                    var rect = arr[i].getBoundingClientRect();
                    console.log(rect);
                }
            }
        
        </script>

    </body>

</html>