.griz-dwitter-container {
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
}

.griz-container {
    position: fixed;
    left: 20vh;
    top: 0;
    background: #fff;
    bottom: 0;
    right: 20vh;
    /* border: 1px solid #ccc; */
    box-shadow: 10px 5px 5px -6px rgba(204,204,204,1)
}

.griz-container .left{
    float: left;
    width: 25%;
    height: 100%;
    background: #52154E;
}

.griz-container .right{
    float: left;
    width: 75%;
}

.griz-logo {
    width: 18vh;
    border: .25em solid #52154E;
    border-radius: 14em;
}

.griz-name{
    color: white;
}

.griz-container-menu {
    text-align: center;
}

.griz-container-menu ul{
    list-style: none;
    text-align: center;
    color: #fff;
    padding-left: 0;
}

.griz-container-menu li{
    padding: .725em 0;
    cursor: pointer;
}

.griz-container-menu li:hover{
    background: #fff;
}

.griz-container-menu li:hover a{
    color: #52154E;
}

.griz-container-menu li:hover a:hover{
    color: #52154E;
}

.griz-container-menu li a{
    padding: 0 .5em;
    border-bottom: 2px solid transparent;
}

.griz-container-menu li a .active{
    border-bottom: 2px solid #fff;
}

.col-no-padd{
    padding: 0;
}

.griz-nav{
    float: right;
}

.griz-menuToggle
{
  display: none;
  position: relative;
  top: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.griz-menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

.griz-menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.griz-menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

.griz-.menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

.griz-menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

.griz-menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.griz-menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

.griz-menu {
    position: fixed;
    width: 300px;
    margin-left: -175px;
    padding: 25px;
    margin-bottom: 0;
    padding-top: 85px;
    background: #52154E;
    top: -25px;
    bottom: 0;
    border: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.griz-menu li
{
  padding: 10px 0;
  font-size: 22px;
}

.griz-menuToggle input:checked ~ ul
{
  transform: none;
}

@media (max-width: 500px) { 
    .griz-container{
        left: 0;
        right: 0;
    }

    .griz-container .left{
        width: 100%;
        height: 70px;
    }

    .griz-name{
        float: left;
        margin-top: 15px;
        margin-left: 5px;
    }

    .griz-container-menu {
        text-align: unset;
    }

    .griz-container-menu ul{
        display: none;
    }

    .griz-container .right{
        width: 100%;
    }

    .griz-logo {
        float: left;
        width: 10vh;
    }

    .griz-menuToggle {
        display: block;
    }
 }